
.App {
  font-family: fantasy;
  width: auto;
  margin: 30px auto;
  text-align: center;
}
nav{
  padding: 5px;
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
.book-list {
  padding: 20px;
  margin-bottom: 20px;
}
.book-list ul{
  padding: 0;
  list-style-type: none;
}
.book-list li {
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}
.MuiTypography-h6 {
  color:black;
  text-align: center;
}
.MuiContainer-root{
  padding: 5em;
}
.MuiGrid-root{
  padding:3em;
}
.MuiToolbar-root{
  align-items: center;
}
.MuiCardActions{
  align-items: center;
}
.MuiPaper-root{
  width: 50%;
  display: inline-block;
  align-self: center;
  justify-self: center;
}